%hr
.row
  - if article.photo.to_s != "/photos/original/missing.png"
    .span2= link_to image_tag(article.photo.url(:thumb)), article
    .span6
      %h3= link_to article.title, article
      - if article.author_id
        %small.muted= User.find(article.author_id)
      %small.muted= article.page_name
      %small.muted= time_ago_in_words(article.created_at) + " ago"
    .pull-right
      =  article.comments.length.to_s
      %i.icon-comment
  - else
    .span9
      %h3
        = link_to article.title, article
        %small.muted= time_ago_in_words(article.created_at) + " ago"
      %p= article.body
      .pull-right
        =  article.comments.length.to_s
        %i.icon-comment
