= simple_form_for(@article) do |f|
  = f.error_notification
  .col-md-12
    - if can? :edit, @article
      .form-group
        .row
          .col-md-12
            = f.input :title, input_html: { class: "form-control" }
      .form-group
        .row
          .col-md-6
            = f.input :page, collection: Page.all, input_html: { class: "form-control" }
          .col-md-6
            = f.input :author_name, :as => :string, input_html: { class: "form-control" }
      .form-group
        .row
          .col-md-6
            = f.label :photo
            = f.file_field :photo
          .col-md-6
            = f.label :pdf
            = f.file_field :pdf
      .form-group
        .row
          .col-md-12
            = f.input :body, input_html: { class: "form-control", rows: 20 }

    .form-actions
      .row
        .col-md-12
          = f.button :submit
