= simple_form_for(@article) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :page, collection: Page.all
    = f.input :body
    = f.file_field :photo
    = f.input :published

  .form-actions
    = f.button :submit
