= simple_form_for(@article) do |f|
  = f.error_notification
  .form-group
    - if can? :edit, @article
      .row
        .col-md-2
          = f.input :page, collection: Page.all
        .col-md-3
          = f.input :author_name, :as => :string
        .col-md-3
          = f.input :title
      .row
        .col-md-12
          Photo: 
          = f.file_field :photo
      .row
        .col-md-12
          = f.input :body

  .form-actions
    - if can? :create, @article
      = f.input :published
    = f.button :submit
