= simple_form_for(@article) do |f|
  = f.error_notification

  .form-inputs

    = f.input :page, collection: Page.all
    %section
      %header{contenteditable:"true", class:"header", id:"article_the_title"}
        Title...
      %hr
      %article{contenteditable:"true", class:"content", id:"article_content"}
        %p Body...
    = f.hidden_field :title
    = f.hidden_field :body
    = f.file_field :photo
    = f.input :author_id, collection: User.all # User.where(page: current_user.page)
    = f.hidden_field :author_name
    = f.input :published

  .form-actions
    = f.button :submit

:javascript
  $(document).ready(function(){
    $("input[name='commit']").button().click(function(){
      $("#article_body").val($("#article_content").html());
    })
    $("input[name='commit']").button().click(function(){
      $("#article_title").val($("#article_the_title").html());
    })
    if($("#article_title").val() != ""){
      $("#article_the_title").html($("#article_title").val());
      $("#article_content").html($("#article_body").val());
    }
  });
