= simple_form_for(@article) do |f|
  = f.error_notification

  .form-inputs
    - if can? :create, @article
      .row
        .span3
          = f.input :page, collection: Page.all
        .span3
          = f.input :author_name, :as => :string
    - if can? :edit, @article
      .row
        .span9
          = f.file_field :photo
      = f.input :title
      = f.input :body

  .form-actions
    - if can? :create, @article
      = f.input :published
    = f.button :submit

:javascript
  $(document).ready(function(){
    $("input[name='commit']").button().click(function(){
      $("#article_body").val($("#article_content").html());
    })
    $("input[name='commit']").button().click(function(){
      $("#article_title").val($("#article_the_title").html());
    })
    if($("#article_title").val() != ""){
      $("#article_the_title").html($("#article_title").val());
      $("#article_content").html($("#article_body").val());
    }
  });
