= simple_form_for(@article) do |f|
  = f.error_notification

  .form-inputs
    - if can? :create, @article
      .row
        .span3
          = f.input :page, collection: Page.all
        .span3
          = f.input :author_name, :as => :string
    - if can? :edit, @article
      .row
        .span9
          PHOTO UPLOAD: 
          %br
          = f.file_field :photo
      = f.input :title
      = f.input :body

  .form-actions
    - if can? :create, @article
      = f.input :published
    = f.button :submit
