- if  !article.photo.url.end_with?('/missing.png')
  .span3
    = link_to image_tag(article.photo.url(:medium)), article
    .caption{ style: "min-height: 100px;"}
      %h5.text-center
        = link_to article.title, article
        %br
        %h5.muted= truncate(strip_tags(article.body), length:40)
        %p.text-center
          %i.icon-time  
          %muted= "approximately " + article.read_time.to_s + " minutes to read"
          %br
          %i.icon-calendar
          %muted= time_ago_in_words(article.created_at) + " ago"
        %hr

- else
  .span3
    %h1.strong.text-center= article.page_name
    %h3.text-center= article.author_name
    =  # link_to image_tag('missing.png', class: "img-circle"), article
    .caption{ style: "min-height: 100px;"}
      %h5.text-center
        = link_to article.title, article
        %br
        %h5.muted= truncate(strip_tags(article.body), length:212)
        %p.text-center
          %i.icon-time  
          %muted= "approximately " + article.read_time.to_s + " minutes to read"
          %br
          %i.icon-calendar
          %muted= time_ago_in_words(article.created_at) + " ago"
        %hr
