.col-md-3
  .thumbnail
    - if  !article.photo.url.end_with?('/missing.png')
      = link_to image_tag(article.photo.url(:medium)), article
    - else
      %p.muted= truncate(article.body, length:40)
    .caption
      %h4
        = link_to article.title, article
        %i= 'by ' + article.author_name
      %p
        %i.glyphicon.glyphicon-time
        %muted= article.read_time 
        %br
        %i.glyphicon.glyph.icon-calendar
        %muted= time_ago_in_words(article.created_at) + " ago"