.col-md-4
  .thumbnail.myHover1.bw
    - if article.photo.file?
      = image_tag(article.photo.url(:medium))
    - elsif article.pdf.file?
      = image_tag(article.pdf.url(:medium))
    - else
      %p.text-muted.text-justify{ style: 'height:242px; overflow:hidden;' }
        = truncate(article.body, length:500)
    .caption
      %hr
      %h4= truncate(article.title, length:27)
      %i= 'by ' + article.author_name
      %p.small
        %i
          %muted= article.read_time
          %br
          %i.glyphicon.glyph.icon-calendar
          %muted= time_ago_in_words(article.created_at) + " ago"
