- if  !article.photo.url.end_with?('/missing.png')
  .span3
    = link_to image_tag(article.photo.url(:medium)), article
    .caption{ style: "min-height: 100px;"}
      %h5
        = link_to article.title, article
        %br
        %strong= article.author_name
        %br
        %small.muted= article.page_name
        %small.muted= time_ago_in_words(article.created_at) + " ago"
        %hr

- else
  .span3
    %h1.strong.text-center= article.page_name
    %h3.text-center= article.author_name
    =  # link_to image_tag('missing.png', class: "img-circle"), article
    .caption{ style: "min-height: 100px;"}
      %h5
        = link_to article.title, article
        %br
        %h5.muted= article.body[0...212] + "..."
        %h5= time_ago_in_words(article.created_at) + " ago"
        %hr
