<%= image_tag @article.photo.url(:large), class: "img-polaroid pull-center" %>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>
<% if can? :update, @article %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>

<h4> comments </h4>
<% @article.comments.each do |comment| %>
<p>
  <hr>
  <strong><%= comment.name %> |</strong>
  <%= comment.body %> -
  <em> <%= time_ago_in_words(comment.created_at) %> ago</em>
</p>
<% end %>
<%= form_for([@article, @comment]) do |f| %>
  <div class="field">
    <%= f.text_field :name, placeholder: "name" %>
  </div>
  <div class="field">
    <%= f.text_area :body, placeholder: "Comment..." %>
  </div>
  <p><%= f.submit %></p>
<% end %>
