- if  !@article.photo.url.end_with?('/missing.png')
  .row
    = link_to image_tag(@article.photo.url(:large)), @article.photo.url
.row
  %h2
    = @article.title
  %p.lead
    Views
    = @article.impressions_count
    |
    = @article.read_time
    | Uploaded: 
    = @article.updated_at.month
    \-
    = @article.updated_at.day
    \-
    = @article.updated_at.year
    | By
    %i= @article.author_name
%hr
.row
  .col-md-12
    - if  !@article.pdf.url.end_with?('/missing.png')
      .hidden-xs
        %object{height: "1100px", width: "100%", data: @article.pdf.url, type: "application/pdf"}
          %embed{height: "1100px", width: "100%", src: @article.pdf.url, type: "application/pdf"}
      .hidden-sm.hidden-md.hidden-lg
        .h1= link_to "View PDF", @article.pdf.url, :target => '_blank'
    .lead= simple_format(@article.body)
%hr


-if can? :update, @article
  = link_to 'Edit', edit_article_path(@article)
  = link_to 'Delete', article_path(@article), confirm: "Are you sure?", method: :delete

%h4 Comments
- if @article.comments.length > 0
  - @article.comments.each do |comy|
    = render "comment", comment: comy
- else
  %lead Be the first to comment

= form_for([@article, @comment]) do |f|
  -if !current_user
    = link_to "Sign In", new_user_session_path
  -elsif current_user.name == nil
    = link_to "Who are you (please set a name)", current_user
  -else
    = f.text_area :body, placeholder: "Comment..."
    = f.submit

