- if  !@article.photo.url.end_with?('/missing.png')
  .row
    = image_tag(@article.photo.url(:large))
.row
  %h2
    = @article.title
  %p.lead
    Views
    = @article.impressions_count
    |
    = @article.read_time
    | By
    %i= @article.author_name
%hr
.row
  .col-md-11
    .lead.text-justify= simple_format(@article.body)

.span9= social_share_button_tag(@article.title)


-if can? :update, @article
  = link_to 'Edit', edit_article_path(@article)
  = link_to 'Delete', article_path(@article), confirm: "Are you sure?", method: :delete

%h4 Comments
- if @article.comments.length > 0
  - @article.comments.each do |comy|
    = render "comment", comment: comy
- else
  %lead Be the first to comment

= form_for([@article, @comment]) do |f|
  -if !current_user
    = link_to "Sign In", new_user_session_path
  -elsif current_user.name == nil
    = link_to "Who are you (please set a name)", current_user
  -else
    = f.text_area :body, placeholder: "Comment..."
    = f.submit

