%h3= "Admin Panel"
%table{:class => "table table-hover"}
  %thead
    %tr
      %th
        %strong Pitch
      %th
        %strong Page
      %th
        %strong Updated At
      = # %th
      = # %strong decision
      - @new_articles.each do |article|
        %tr
          %td= link_to  article.title, edit_article_path(article)
          %td= article.page_name
          %td= article.updated_at.in_time_zone("Pacific Time (US & Canada)").strftime(" %B %d, %l:%M %p")
          %td
            = # .span.badge approve?
            = # .span.badge delete
