%h3 Admin Panel
%h4
  %i
  = link_to "Manage Users", users_path

.row
  %h2 Week's Stats
  .col-md-2.thumbnail
    %h4.text-center Article views
    %h3.text-center= Impression.where("created_at >= ?", Time.zone.now.beginning_of_week).where(impressionable_type: 'Article').count
  .col-md-2.col-md-offset-1.thumbnail
    %h4.text-center Hits
    %h3.text-center
      = Impression.where("created_at >= ?", Time.zone.now.beginning_of_week).where(impressionable_type: 'Visitor').count
  .col-md-2.col-md-offset-1.thumbnail
    %h4.text-center Active Users
    %h3.text-center= User.where("last_sign_in_at >= ?", Time.zone.now.beginning_of_week).count
  .col-md-2.col-md-offset-1.thumbnail
    %h4.text-center New Articles
    %h3.text-center= Article.published.where("created_at >= ?", Time.zone.now.beginning_of_week).count
.row
  %h2 All-Time Stats
  .col-md-2.thumbnail
    %h4.text-center Article views
    %h3.text-center= Impression.where(impressionable_type: 'Article').count
  .col-md-2.col-md-offset-1.thumbnail
    %h4.text-center Hits
    %h3.text-center
      = Impression.where(impressionable_type: 'Visitor').count
  .col-md-2.col-md-offset-1.thumbnail
    %h4.text-center Users
    %h3.text-center= User.count
  .col-md-2.col-md-offset-1.thumbnail
    %h4.text-center Total Articles
    %h3.text-center= Article.published.count
%h2 All Unpublished Articles:
%table{:class => "table table-hover"}
  %thead
    %tr
      %th
        %strong Title
      %th
        %strong Page
      %th
        %strong Updated At
      = # %th
      = # %strong decision
      - Article.where(published: false).each do |article|
        %tr
          %td= link_to simple_format(article.title), edit_article_path(article)
          %td= article.page_name
          %td= article.updated_at.in_time_zone("Pacific Time (US & Canada)").strftime(" %B %d, %l:%M %p")
          %td
            = # .span.badge approve?
            = # .span.badge delete

%h2 All Editors
%table{:class => "table table-hover"}
  %thread
    %tr
      %th
        %strong Name
      %th 
        %strong Email
      - User.where(id: 1).each do |editor|
        %tr
          %td= editor.name
          %td= editor.email
          %td
