%h3= current_user.page_name + " Panel"
- Article.where(page: current_user.page).each do |article|
  .row
    .span8.offset3
      %lead= link_to  article.title, edit_article_path
      %em= article.body
- #if can? :create, :article
.row
  %lead= link_to 'New Article', new_article_path
%br
- current_user.roles.each do |role|
  - if role.name == "Admin"
    = render 'admin_panel'
  - elsif role.name == "Editor"
    = render 'editor_panel'
  - elsif role.name == "Author"
    = render 'author_panel'
  - elsif role.name == "Creative"
    = render 'creative_panel'
  - elsif role.name == "Member"
    = render 'member_panel'
