%h3= current_user.page_name + " Panel"
%table{:class => "table table-hover"}
  %thead
    %tr
      %th
        %strong Title
      %th
        %strong Author
      %th
        %strong Updated At
      %th
        %strong Due Date
      %th
        %strong Stage
  - @unpub_articles.each do |article|
    %tr
      %td= link_to  article.title, edit_article_path(article)
      - if article.author_id
        %td= User.find(article.author_id).name
      - else
        %td NA

      %td= article.updated_at.in_time_zone("Pacific Time (US & Canada)").strftime(" %B %d, %l:%M %p")
      %td= article.due_date
      %td NA
- #if can? :create, :article
.row
  %lead= link_to 'New Article', new_article_path
%br
- current_user.roles.each do |role|
  - if role.name == "Admin"
    = render 'admin_panel'
  - elsif role.name == "Editor"
    = render 'editor_panel'
  - elsif role.name == "Author"
    = render 'author_panel'
  - elsif role.name == "Creative"
    = render 'creative_panel'
  - elsif role.name == "Member"
    = render 'member_panel'
