%h3= @user.email
- @user.roles.each do |role|
  %i.icon-ok
  = role.name
  %hr
= form_for @user do |f|
  = f.text_field :name, placeholder: "name..."
  - if can? :manage, :all
    %h4 Change Roles
    = f.collection_check_boxes :role_ids, Role.all, :id, :name
  = f.button :submit
