- if can? :manage, :all
  - @users.each do |user|
    %br
    Email:
    = user.email
    %br
    Name:
    = user.name
    %br
      = user.page_name
    .btn-group
      %a.btn.btn-primary{href: "#"}
        %i.icon-user.icon-white
        = user.name
      %a.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
        %span.caret
      %ul.dropdown-menu
        %li
          %a{href: "#"}
            %i.icon-pencil 
            = link_to "Assign", edit_user_path(user)
            - user.roles.each do |role|
              = role.name
        %li
          %a{href: "#"}
            %i.icon-trash
            = link_to "delete", user, method: :delete, class: :destroy, confirm: "Are you sure?", method: :delete
    %hr

