- if can? :manage, :all
  - @users.each do |user|
    .row
      .col-md-12
        - if user.avatar.url != "blank_profile.png"
          = image_tag user.avatar.url(:thumb)
        - else 
          = image_tag "blank_profile_thumb.png"
        .btn-group
          %button.btn.btn-default
            = link_to user_path(user) do
              %i.glyphicon.glyphicon-user
              = user.name
                      
          %button.btn.btn-default
            = link_to edit_user_path(user) do
              %i.glyphicon.glyphicon-edit
              Edit
          %button.btn.btn-default
            = link_to user, method: :delete, class: :destroy, confirm: "Are you sure?" do
              %i.glyphicon.glyphicon-trash
              Delete