- if can? :manage, :all
  - @users.each do |user|
    %br
    Email:
    = user.email
    %br
    Name:
    = user.name
    %br
      = user.page_name
    .btn-group
      %a.btn.btn-primary{href: "#"}
        %i.icon-user.icon-white
        = user.name
      %a.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
        %span.caret
      %ul.dropdown-menu
        %li
          %a{href: url_for(edit_user_path(user))}
            %i.icon-pencil
            \ Assign
        %li
          = link_to user, method: :delete, class: :destroy, confirm: "Are you sure?" do
            %i.icon-trash
            \ Delete
    %hr

