.row
  .col-md-4= image_tag @user.avatar.url(:medium), class: 'img-thumbnail'
  .col-md-8
    %h2= @user.email
    %h4= @user.name
    %h5= link_to "Change Password", edit_user_registration_path
    %p
      = 'signed in: ' + @user.sign_in_count.to_s + ' times.'
.row
  .col-md-12
    - if current_user.id == @user.id
      - current_user.roles.each do |role|
        - if role.name == "Admin"
          = render 'admin_panel'
        - elsif role.name == "Editor"
          = render 'editor_panel'
        - elsif role.name == "Author"
          = render 'author_panel'
        - elsif role.name == "Creative"
          = render 'creative_panel'
        - elsif role.name == "Member"
          = render 'member_panel'
