- content_for :title do
  Contact
%h3 Contact The Horizon
.row
  .col-md-12
    = image_tag(asset_path('staff2016-2017contact.jpg'), width: '100%')
  %h3.centered Thanks for your interest in the Horizon!
  %hr.centered 
  %h4.centered Check us out on Social Media! 
  .centered
    = link_to(image_tag(asset_path('facebook.png')), 'https://www.facebook.com/westmont.horizon', :target => "_blank")
    = link_to(image_tag(asset_path('twitter.png')), 'https://twitter.com/WestmontHorizon', :target => "_blank")
  %hr
  %h5.centered Please send general inquiries to: #{link_to "horizon@westmont.edu", "mailto:horizon@westmont.edu"}

  %h5.centered Interested in advertising in the Horizon? Contact Managing Editor Caleb Armacost at #{link_to "carmacost@westmont.edu", "mailto:carmacost@westmont.edu"}

  %h5.centered 
    Interested in receiving a copy of the Horizon delivered to your home or office? Please follow this link to the Horizon Subscription Order Form, or contact a member of our staff listed below.
  %hr
  %h4.centered If you would like to get in contact with a member of our staff, please refer to the listings below:  
  %br
  %h5.centered Editor-in-Chief: Mitchell McMahon (#{link_to "mimcmahon@westmont.edu", "mailto:mimcmahon@westmont.edu"})
  %br
  %h5.centered Managing Editor: Caleb Armacost (#{link_to "carmacost@westmont.edu", "mailto:carmacost@westmont.edu"})
  %br
  %h5.centered Web Developers: Jon Skidanov (#{link_to "jskidanov@westmont.edu", "mailto:jskidanov@westmont.edu"}) & Jacob Ochs (#{link_to "jochs@westmont.edu", "mailto:jochs@westmont.edu"})
  %br
  %h5.centered News Editor: Mayra Toscano (#{link_to "mtoscano@westmont.edu", "mailto:mtoscano@westmont.edu"})
  %h5.centered Features Editor: Cole Eberwein (#{link_to "weberwein@westmont.edu", "mailto:weberwein@westmont.edu"})
  %h5.centered Sports Editor: Tim Heiduk (#{link_to "theiduk@westmont.edu", "mailto:theiduk@westmont.edu"})
  %h5.centered Arts & Entertainment Editor: Sarah Sutherland (#{link_to "ssutherland@westmont.edu", "mailto:ssutherland@westmont.edu"})
  %h5.centered Opinions/Editorials Editor: Andrew Greenman (#{link_to "agreenman@westmont.edu", "mailto:agreenman@westmont.edu"})
  %h5.centered Capstone Editors: Analiese Yukawa (#{link_to "ayukawa@westmont.edu", "mailto:ayukawa@westmont.edu"}) & Katie Swalm (#{link_to "kswalm@westmont.edu", "mailto:kswalm@westmont.edu"})
  %br
  %h5.centered Copy Editors: Ally Quadros (#{link_to "aquadros@westmont.edu", "mailto:aquadros@westmont.edu"}) & Meg Grasmick (#{link_to "mgrasmick@westmont.edu", "mailto:mgrasmick@westmont.edu"})
  %br 
  %h5.centered Design Editor: Nathan Tarr (#{link_to "ntarr@westmont.edu", "mailto:ntarr@westmont.edu"})
  %h5.centered Photo Editor: Jordan Bishop (#{link_to "jbishop@westmont.edu", "mailto:jbishop@westmont.edu"})
  %h5.centered Graphics & Comics Editor: Alexandra Montes De Oca (#{link_to "mailto:amotesdeoca@westmont.edu", "mailto:amontesdeoca@westmont.edu"})
  %br

  %h5.centered Business Manager: Mitchell McMahon (#{link_to "mimcmahon@westmont.edu", "mailto:mimcmahon@westmont.edu"})
  %br 
  %h5.centered Faculty Advisor: Dr. Randy VanderMey (#{link_to "vanderme@westmont.edu", "mailto:vanderme@westmont.edu"})
