- content_for :title do
  Contact
%h3 Contact The Horizon
.row
  .col-md-12
    = image_tag(asset_path('staff2014-15contact.jpg'), width: '100%')
  %h3.centered Thanks for your interest in the Horizon!
  %hr.centered 
  %h4.centered Check us out on Social Media! 
  .centered
    = link_to(image_tag(asset_path('facebook.png')), 'https://www.facebook.com/westmont.horizon', :target => "_blank")
    = link_to(image_tag(asset_path('twitter.png')), 'https://twitter.com/WestmontHorizon', :target => "_blank")
  %hr
  %h5.centered Please send general inquiries to: #{link_to "horizon@westmont.edu", "mailto:horizon@westmont.edu"}

  %h5.centered Interested in advertising in the Horizon? Contact Advertising Manager Rebecca Hawkins at #{link_to "rehawkins@westmont.edu", "mailto:rehawkins@westmont.edu"}

  %h5.centered 
    Interested in receiving a copy of the Horizon delivered to your home or office? Please contact subscriptions manager Alysha Kim ( #{link_to "alkim@westmont.edu", "mailto:alkim@westmont.edu"}), or follow this link to the Horizon Subscription Order Form.
  %hr
  %h4.centered If you would like to get in contact with a member of our staff, please refer to the listings below:  
  %br
  %h5.centered Editor-in-Chief: Christian Eckert (#{link_to "checkert@westmont.edu", "mailto:checkert@westmont.edu"})
  %br
  %h5.centered Managing Editor: Donald Scherschligt (#{link_to "dscherschligt@westmont.edu", "mailto:dscherschligt@westmont.edu"})
  %br
  %h5.centered Web Developer: Connor Riva (#{link_to "criva@westmont.edu", "mailto:criva@westmont.edu"})
  %br
  %h5.centered News Editor: Lexi Airey (#{link_to "aairey@westmont.edu", "mailto:aairey@westmont.edu"})
  %h5.centered Features Editor: Cole Eberwein (#{link_to "weberwein@westmont.edu", "mailto:weberwein@westmont.edu"})
  %h5.centered Sports Editor: Mitchell McMahon (#{link_to "mimcmahon@westmont.edu", "mailto:mimcmahon@westmont.edu"})
  %h5.centered Arts & Entertainment Editor: Wendy Waldrop (#{link_to "wwaldrop@westmont.edu", "mailto:wwaldrop@westmont.edu"})
  %h5.centered Opinions/Editorials Editor: Ashley Childress (#{link_to "achildress@westmont.edu", "mailto:achildress@westmont.edu"})
  %h5.centered Capstone Editor: Lindsay Call (#{link_to "lincall@westmont.edu", "mailto:lincall@westmont.edu"})
  %br
  %h5.centered Copy Editors: Elizabeth Hardeman (#{link_to "ehardeman@westmont.edu", "mailto:ehardeman@westmont.edu"}) & Sarah Glasco (#{link_to "sglasco@westmont.edu", "mailto:sglasco@westmont.edu"})
  %br 
  %h5.centered Design Editor: Nathan Tarr (#{link_to "ntarr@westmont.edu", "mailto:ntarr@westmont.edu"})
  %h5.centered Photo Editor: Cassity Brown (#{link_to "cabrown@westmont.edu", "mailto:cabrown@westmont.edu"})
  %h5.centered Graphics & Comics Editor: Kelly Carlson (#{link_to "mailto:kecarlson@westmont.edu", "mailto:kecarlson@westmont.edu"})
  %br
  %h5.centered Business Manager: Sarah Gowing (#{link_to "sgowing@westmont.edu", "mailto:sgowing@westmont.edu"})
  %h5.centered Subscriptions Manager: Alysha Kim (#{link_to "alkim@westmont.edu", "mailto:alkim@westmont.edu"})
  %h5.centered Advertising Manager: Kha-ai Nguyen (#{link_to "khnguyen@westmont.edu", "mailto:khnguyen@westmont.edu"})
  %h5.centered Distribution Manager: Tanner Behrens (#{link_to "tbehrens@westmont.edu", "mailto:tbehrens@westmont.edu"})
  %br 
  %h5.centered Faculty Advisor: Dr. Sarah Skripsky (#{link_to "sskripsky@westmont.edu", "mailto:sskripsky@westmont.edu"})
