%ul.nav
  %li= link_to 'Horizon', root_path
  %li= link_to 'articles', articles_path
  %li= link_to 'About', page_path('about')
  - if user_signed_in?
    %li
      %a= "Welcome, #{ current_user.email }"
    - if can? :manage, :all
      %li= link_to "Admin Panel", users_path
    %li= link_to "Log Out", destroy_user_session_path, method: :delete
  - else
    %li= link_to "Sign Up", new_user_registration_path
    %li= link_to "Sign In", new_user_session_path
