.row
  - if @slides
    - @slides.each do |slide|
      .span3= link_to image_tag(slide.photo.url(:medium)), slide
.row
  .span9
    %ul.nav.nav-tabs{style: "margin-top: 42px;"}
      - Page.all.each do |page|
        %li= link_to page.name, articles_path(page_name: page.name)

      %li= link_to 'About', page_path('about')

      - if user_signed_in?
        %li
          = link_to "#{ current_user.email }", current_user
          - if can? :manage, :all
            %li= link_to "Admin", users_path
          %li= link_to "Log Out", destroy_user_session_path, method: :delete
      - else
        %li= link_to "Sign Up", new_user_registration_path
        %li= link_to "Sign In", new_user_session_path
