%br
.row.hidden-xs
  = form_tag articles_path, :method => 'get', class: 'form-search' do
    .input-group
      = text_field_tag :search, params[:search], class: 'form-control'
      %span.input-group-btn
        = submit_tag 'search', :name => nil, class: 'btn btn-default'
.row.hidden-xs
  %h3 
    Trending Articles
    %i
  %ol
    - Article.published.where("created_at >= ?", Time.zone.now.beginning_of_week).order("impressions_count DESC").limit(5).each do |article|
      %li
        %p
          = link_to article.title, article
          %small
            %i= "by " + article.author_name
.row.hidden-xs
  %a.twitter-timeline{"data-widget-id" => "430531216178020353", :href => "https://twitter.com/WestmontHorizon"} Tweets by @WestmontHorizon


:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


