.row
  .btn-group
    - if user_signed_in?
      %button.btn.btn-default= link_to "Profile", users_path
      - if can? :manage, Users
        %button.btn.btn-default= link_to "Manage", users_path
      %button.btn.btn-default= link_to "Profile", users_path
      %button.btn.btn-default= link_to "Sign Out", destroy_user_session_path, method: :delete
    - else
      %button.btn.btn-default= link_to "Sign In", new_user_session_path
      %button.btn.btn-default= link_to "Sign Up", new_user_registration_path
%br
.row
  = form_tag articles_path, :method => 'get', class: 'form-search' do
    .input-group
      = text_field_tag :search, params[:search], class: 'form-control'
      %span.input-group-btn
        = submit_tag 'search', :name => nil, class: 'btn btn-default'
.row
  %h3 
    Trending Articles
    %i.glyphicon.glyphicon-fire
  %ol
    - Article.published.where("created_at <= ?", 1.week.ago.utc).order("impressions_count DESC").limit(5).each do |article|
      %li
        %p
          = link_to article.title, article
          %small
            %i= "by " + article.author_name
.row
  Twitter Feed
  %a.twitter-timeline{"data-widget-id" => "430531216178020353", :href => "https://twitter.com/WestmontHorizon"} Tweets by @WestmontHorizon


:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


-#:plain
  <a class="twitter-timeline" href="https://twitter.com/WestmontHorizon" data-widget-id="430531216178020353">Tweets by @WestmontHorizon</a>
-#<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

