!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "The Horizon"
      %meta{:content => content_for?(:description) ? yield(:description) : "Rails Bootstrap", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = javascript_include_tag "editor"
        = javascript_include_tag "ui"
        = javascript_include_tag "utils"
        = javascript_include_tag "libs/Blob"
        = javascript_include_tag "libs/FileSaver"
        = javascript_include_tag "libs/fullScreen"
        = javascript_include_tag "libs/Blob"
  %body
    %header
      .container
    %main{:role => "main"}
      .container
        .row
          = render 'layouts/messages'
          .span3
            = render 'layouts/side'
          .span9
            = render 'layouts/navigation'
            = yield

    %footer
